

/* 
  Whole document 
*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* 
  Header 
*/

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed; /* keep the position of the nav bar fixed */
  top: 0; /* define where the nav bar is position relatively to the top*/
  width: 100%;
  background-color: #3AAFA9;/*#1B4F72;*/
  color: #FEFFFF;
}

#header a { /* How the element position itself in its container*/
  color: #17252A;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px; /*generate space around element's content, inside of any defined borders */
}

#header a :nth-child(2){
  border-radius: 2px;
  background: #17252A;
  padding: 2px 4px;
}

#header .toggle-btn {
  padding-right: 10px;
}

#header .toggle-btn:hover {
  cursor: pointer;
}

#header .toggle-btn span {
  display: block;
  width:  30px;
  height: 5px;
  background-color: #FEFFFF;
  margin: 5px 0px;
}

#header .toggle-btn:hover span {
  cursor: pointer;
  width:  30px;
  height: 1px;
}


.button {
  color: #FEFFFF;
  border-radius: 10px;
  background: #17252A;
  padding: 5px 10px;
}

.button:hover {
  background-color: white;
  color: #17252A;
  cursor: pointer;
}


/* 
  Sidebar
 */

#sidebar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  right:-200px;
  bottom: 0;
  width: 200px;
  height: 90%;
  background-color: #17252A; 
  transition: all 200ms linear;
}

#sidebar ul li {
  color:  #FEFFFF;
  list-style: none;
  text-transform: uppercase;
  font-size: 30px;
  padding: 15px 10px;
}

#sidebar li:hover{
  color:  #17252A;
  background-color: #FEFFFF;
  cursor: pointer;
}

#sidebar.active {
  right: 0;
}


/*
Home
*/

#home {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; /** align the flex items vertically. */
  width: 100%;
  height: 100vh; /** set height with size of use screen */
  background-color:  #3AAFA9;  /*;#88BDBC;/*#EAE7DC;/*#116466;*/
  color: #FEFFFF;
}

/*
Other
*/
a:link {
  color: inherit;
  text-decoration: none;
}
